In [1]:
import pandas as pd 
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()
tickers = ['2330.TW', '2303.TW', '2454.TW', '2317.TW']
start_date = '2024-01-01'
end_date = '2024-06-30'
all_data = {ticker: pdr.get_data_yahoo(ticker, start=start_date, end=end_date) for ticker in tickers}
all_data

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

yfinance: pandas_datareader support is deprecated & semi-broken so will be removed in a future verison. Just use yfinance.

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

{'2330.TW':              Open   High    Low  Close   Adj Close    Volume
 Date
 2024-01-02  590.0  593.0  589.0  593.0  587.971313  26059058
 2024-01-03  584.0  585.0  576.0  578.0  573.098572  37106763
 2024-01-04  580.0  581.0  577.0  580.0  575.081543  15309129
 2024-01-05  578.0  580.0  574.0  576.0  571.115479  18158971
 2024-01-08  582.0  585.0  579.0  583.0  578.056152  17761275
 ...           ...    ...    ...    ...         ...       ...
 2024-06-24  958.0  960.0  940.0  940.0  940.000000  66391994
 2024-06-25  925.0  945.0  923.0  945.0  945.000000  57368432
 2024-06-26  951.0  960.0  951.0  960.0  960.000000  44967166
 2024-06-27  951.0  961.0  949.0  960.0  960.000000  39729446
 2024-06-28  956.0  971.0  955.0  966.0  966.000000  39138210

 [117 rows x 6 columns],
 '2303.TW':                  Open       High        Low      Close  Adj Close    Volume
 Date
 2024-01-02  52.500000  52.799999  51.299999  51.900002  49.163513  64217881
 2024-01-03  51.200001  51.299999  50.500000  50.599998  47.932056  75978300
 2024-01-04  50.500000  50.900002  50.200001  50.799999  48.121510  56554331
 2024-01-05  51.599998  52.200001  50.599998  50.799999  48.121510  77391673
 2024-01-08  51.000000  51.000000  50.099998  50.500000  47.837330  63869803
 ...               ...        ...        ...        ...        ...       ...
 2024-06-24  57.500000  57.500000  56.599998  56.799999  53.805153  68248302
 2024-06-25  56.700001  56.700001  55.700001  56.400002  53.426247  69308998
 2024-06-26  56.500000  56.700001  56.099998  56.599998  53.615700  40739678
 2024-06-27  56.099998  56.400002  55.500000  56.400002  53.426247  63763167
 2024-06-28  56.099998  56.200001  55.599998  55.700001  52.763153  86163793

 [117 rows x 6 columns],
 '2454.TW':               Open    High     Low   Close    Adj Close    Volume
 Date
 2024-01-02  1010.0  1015.0   980.0   981.0   934.995605  10009034
 2024-01-03   976.0   977.0   953.0   953.0   908.308716  12547023
 2024-01-04   940.0   947.0   922.0   928.0   907.917358   8449251
 2024-01-05   929.0   935.0   921.0   921.0   901.068848   5524580
 2024-01-08   930.0   936.0   918.0   920.0   900.090454   5553064
 ...            ...     ...     ...     ...          ...       ...
 2024-06-24  1455.0  1465.0  1405.0  1410.0  1379.486450   9093868
 2024-06-25  1370.0  1400.0  1365.0  1385.0  1355.027466   9382535
 2024-06-26  1395.0  1430.0  1395.0  1405.0  1374.594727   4993229
 2024-06-27  1380.0  1410.0  1380.0  1395.0  1364.811157   4724876
 2024-06-28  1400.0  1405.0  1375.0  1400.0  1369.702881   6843642

 [117 rows x 6 columns],
 '2317.TW':              Open   High    Low  Close   Adj Close     Volume
 Date
 2024-01-02  104.5  105.0  104.0  105.0  102.375000   19921105
 2024-01-03  104.5  105.0  104.0  104.5  101.887505   18957682
 2024-01-04  104.5  105.0  104.0  104.0  101.400002   15488559
 2024-01-05  104.0  104.5  104.0  104.0  101.400002   13349572
 2024-01-08  103.5  104.0  101.5  101.5   98.962502   34642006
 ...           ...    ...    ...    ...         ...        ...
 2024-06-24  209.5  210.0  205.0  206.0  200.850006  104052744
 2024-06-25  203.0  212.0  201.0  211.0  205.725006  116945868
 2024-06-26  211.5  215.5  210.0  210.0  204.750000  107811774
 2024-06-27  208.0  214.5  207.5  212.5  207.187500   84781047
 2024-06-28  214.0  216.0  212.5  214.0  208.650009   75725075

 [117 rows x 6 columns]}

In [2]:


df1 = pd.DataFrame({ticker:dataFrame['Adj Close'] for ticker,dataFrame in all_data.items()})
df2 = df1.rename(columns={'2330.TW':'台積電','2303.TW':'聯電','2454.TW':'聯發科','2317.TW':'鴻海'})

def stocks(s) -> pd.Series: #return series
 
    max_name = s[s == s.max()].index.tolist()[0]    
    min_name = s[s == s.min()].index.tolist()[0]   

    return pd.Series([s.mean(),s.median(),f'{max_name}({s.max()})',f'{min_name}({s.min()})'],
                     index=["平均","中位數","最高價","最低價"])
    
df2.apply(stocks)

,台積電,聯電,聯發科,鴻海
平均,762.206925,49.156631,1095.7128,139.620003
中位數,776.996887,48.97406,1105.545898,142.837509
最高價,2024-06-19 00:00:00(981.0),2024-06-21 00:00:00(54.6577033996582),2024-06-20 00:00:00(1467.538818359375),2024-06-20 00:00:00(212.0625)
最低價,2024-01-05 00:00:00(571.115478515625),2024-02-26 00:00:00(45.469146728515625),2024-01-17 00:00:00(859.977783203125),2024-01-17 00:00:00(96.13500213623047)