In [12]:
import numpy as np
import pandas as pd
students = np.random.randint(50,101,size=(50,5))
stu = pd.DataFrame(students,
             columns=['國文','英文','數學','地理','歷史'],
             index=[f'第{i}號' for i in range(1,51)]
             )
stu

       國文  英文   數學  地理   歷史
第1號    81  88   50  62   94
第2號    95  90   65  73   71
第3號    60  50   66  73   54
第4號    68  94   77  92   51
第5號    81  92   67  67   93
第6號    76  86   87  67   68
第7號    62  66   76  54   96
第8號    56  72   55  96   68
第9號    51  58   90  60   72
第10號   84  56   71  59   59
第11號   77  84   94  74   63
第12號   71  54   66  55   73
第13號   85  85   76  77   95
第14號  100  96   81  50   54
第15號   59  94   64  74   91
第16號   80  65   56  52   62
第17號   84  61   51  62   53
第18號   76  85   99  91   53
第19號   94  74   60  80  100
第20號   91  97   64  64   56
第21號   88  97   74  94   81
第22號   61  94   83  70   51
第23號   99  91   95  79   96
第24號   63  81   92  72   93
第25號   86  58   52  90   71
第26號   67  58   55  96   86
第27號   95  99   97  72   71
第28號   66  80   71  51   72
第29號   85  63   59  72   51
第30號   60  93   84  54   93
第31號   87  95  100  59   96
第32號   98  91   76  91   79
第33號   91  93   82  73   73
第34號   85  69   55  53   60
第35號   69  95   56  67   98
第36號   86  95   66  70   78
第37號   55  95   60  64   65
第38號   90  87   97  85   99
第39號   54  99   63  78   57
第40號   92  81   74  53   79
第41號   97  64   95  82   58
第42號   55  64   78  60   88
第43號   94  70   92  62   97
第44號   98  92   53  75   53
第45號   97  93   96  86   80
第46號   79  68   90  88   94
第47號   70  78   64  89   79
第48號   80  85   92  92   94
第49號   60  96   71  64   74
第50號   81  77   93  63   53

In [13]:
#Series
chines_series = stu['國文']
chines_series

第1號      81
第2號      95
第3號      60
第4號      68
第5號      81
第6號      76
第7號      62
第8號      56
第9號      51
第10號     84
第11號     77
第12號     71
第13號     85
第14號    100
第15號     59
第16號     80
第17號     84
第18號     76
第19號     94
第20號     91
第21號     88
第22號     61
第23號     99
第24號     63
第25號     86
第26號     67
第27號     95
第28號     66
第29號     85
第30號     60
第31號     87
第32號     98
第33號     91
第34號     85
第35號     69
第36號     86
第37號     55
第38號     90
第39號     54
第40號     92
第41號     97
第42號     55
第43號     94
第44號     98
第45號     97
第46號     79
第47號     70
第48號     80
第49號     60
第50號     81
Name: 國文, dtype: int64

In [14]:
chines_series['第49號'] #第49號國文的成積

60

In [15]:
chines_series[['第49號','第50號']] #第49號和50號的國文的成積

第49號    60
第50號    81
Name: 國文, dtype: int64

In [16]:
chines_series[:5] #國文前5個學生的分數

第1號    81
第2號    95
第3號    60
第4號    68
第5號    81
Name: 國文, dtype: int64

In [17]:
#第1號的學生
stu.loc['第1號']

國文    81
英文    88
數學    50
地理    62
歷史    94
Name: 第1號, dtype: int64

In [18]:
#第1號和第2號的學生
stu.loc[['第1號','第10號']]

      國文  英文  數學  地理  歷史
第1號   81  88  50  62  94
第10號  84  56  71  59  59

In [19]:
#前5個學生
stu.iloc[:5]
#後5個學生
stu.iloc[-5:]

      國文  英文  數學  地理  歷史
第46號  79  68  90  88  94
第47號  70  78  64  89  79
第48號  80  85  92  92  94
第49號  60  96  71  64  74
第50號  81  77  93  63  53

In [20]:
stu.columns

Index(['國文', '英文', '數學', '地理', '歷史'], dtype='object')

In [21]:
stu['總分'] = sum_series
stu['平均'] = average_series
stu

NameError: name 'sum_series' is not defined